.container{
    width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px gray;
}

#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
#inside{
    width: 70%;
    height: auto;
    padding: 10px;
    background-color: gray;
    box-sizing: border-box;
}
.buttons{
    display: grid;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.button > div {
    border-top: 1px solid gray;
    border-right: 1px solid gray;

}

.button{
    border: 0.5px solid grey;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}


#equal{
    background-color: blue;
    color: beige;
}
.button:hover{
    background-color: black;
    color: bisque;
    transition: 0.5s ease-in-out;

}